<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">index</a>
        <a href="{% url 'new' %}">일기 작성하기!</a>
    </nav>

    <br><br>
    <h1>diary Page</h1>
    <hr>
    {% for reviews in reviews.all %}
    
        <h3><a href="{% url 'detail' reviews.id %}">{{ reviews.title }}</a></h3>
        <p>날짜 및 시간 : {{ reviews.pub_date }}</p>
        <p>날씨 : {{ reviews.weather }}</p>
        <p>일기: {{ reviews.content }}</p>
        {% if reviews.phto %}
        <img src="{{ reviews.phto.url }}" width="200" height="200" alt="phto">
        {% endif %}
    {% endfor %}
</body>
</html>