<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}


</head>

<body>
    <nav>
        <a href="{% url 'index' %}">index</a>
        <a href="{% url 'journal' %}">journal</a>
        <a href="{% url 'diary' %}">diary</a>
        <hr>
    </nav>
    {% block content %}
    <h1>index page</h1>
    {% endblock %}

    <footer>
        <hr>
        <p>IT융합자율학부 202014087 안준영</p>
    </footer>

</body>

</html>