{% extends 'index.html' %}

{% block title %}
    <title>Journal Read</title>
{% endblock %}

{% block content %}
    <nav>
        <br>
        <a href="{% url 'write' %}">일기 작성하기</a>
        <br>
    </nav>

    <br><hr>

    {% for journals in journals.all %}
        <p><a href="{% url 'detail2' journals.id %}">제목: {{ journals.title }}</a></p>
        <p>날씨: {{ journals.weather }}</p>
        <p>일기: {{ journals.journal }}</p>
        <p>작성날짜: {{ journals.pub_date }}</p>
        {% if journals.image %}
        <img src="{{ journals.image.url }}" width="200" height="200" alt="image">
        {% endif %}

        <br><hr><br>
    {% endfor %}
{% endblock %}