{% extends 'index.html' %}

{% block title %}
    <title>Detail</title>
{% endblock title %} 

{% block content %}
    <h1>Detail page</h1>
    <hr>
    <p>{{ diary.title }}</p>
    <p>{{ diary.pub_date }}</p>
    <p>{{ diary.weather }}</p>
    <p>{{ diary.content }}</p>
    {% if diary.file %}
        <img src="{{ diary.file.url }}" width="200" height="200" alt="file">
    {% endif %}
    {% if diary.image %}
        <img src="{{ diary.image.url }}" width="200" height="200" alt="image">
    {% endif %}
    <br>
    <a href="{% url 'edit' diary.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'delete' diary.id %}">글 삭제하기</a>
{% endblock %}
