{% extends 'index.html' %}

{% block title %}
    <title>Create</title>
{% endblock title %} 

{% block content %}
    <form method="POST" action = "{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        제목 : <input type="text" name = "title"><br>
        날씨 : <input type="text" name = "weather"><br>
        일기 : <textarea name = "content" cols="30" rows = "10"></textarea> <br>
        <div>
            파일 업로드 : <input type="file" name = "file"><br>
            이미지 업로드 : <input type="file" name = "image"><br>
        </div>
        <button type = "submit">작성</button>
    </form>
{% endblock %}