{% extends 'index.html' %}

{% block title %}
    <title>notform</title>
{% endblock title %} 

{% block content %}
    <nav>
        <a href="{% url 'index' %}">index</a><br>
        <a href="{% url 'new' %}">일기 작성</a>
    </nav>

    <br>
    {% for diarys in diarys.all %}
    <p><a href="{% url 'detail' diarys.id %}">{{diarys.title}}</a></p>
    <p>제목 : {{ diarys.title }}</p>
    <p>날짜 : {{ diarys.date }}</p>
    <p>날씨 : {{ diarys.weather }}</p>
    <p>일기 : {{ diarys.content }}</p>
    {% if diarys.file %}
        <img src="{{ diarys.file.url }}" width="200" height="200" alt="file">
    {% endif %}
    {% if diarys.image %}
        <img src="{{ diarys.image.url }}" width="200" height="200" alt="image">
    {% endif %}
    <br><hr><br>
    {% endfor %}
{% endblock %}





