<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">index로 돌아가기</a>
        <a href="{% url 'new' %}">일기 작성하기</a>
        <a href="{% url 'notform' %}">일기 모아보기</a>
    </nav>

    <br><br>
    {% for diarys in diarys %}
        <h3><a href="{% url 'detail' diarys.id %}">{{ diarys.title }}</a></h3>
        <p>제목: {{ diarys.title }}</p>
        <p>날짜 및 시간: {{ diarys.date }}</p>
        <p>날씨: {{ diarys.weather }}</p>
        <p>일기: {{ diarys.content }}</p>
        {% if diarys.file %}
            <img src="{{ diarys.file.url }}" width="200" height="200" alt="file">
        {% endif %}
        {% if diarys.image %}
            <img src="{{ diarys.image.url }}" width="200" height="200" alt="image">
        {% endif %}
        <br><hr><br>
        
    {% endfor %}
</body>
</html>
