{% extends 'index.html' %}

{% block title %}
    <title>Diary Edit</title>
{% endblock %}

{% block content %}
    <h1>Diary Edit Page</h1>
    <hr>
    <form method="POST" action="{% url 'update' edit_diary.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        제목 : <input type="text" name="title" value="{{ edit_diary.title }}"> <br>
        날씨 : <input type="text" name="weather" value="{{ edit_diary.weather }}"> <br>
        일기 : <textarea name="diary" cols="30" rows="10">{{ edit_diary.diary }}</textarea> <br>
        <div>
            이미지 업로드 : <input type="file" name="file">
        </div>

        <button type="submit">일기 작성</button>
    </form>
{% endblock %}