{% extends 'index.html' %}

{% block title %}
    <title>Detail</title>
{% endblock title %}

{% block content %}
    <h1>detail page</h1>
    <p>{{ journals.title }}</p>
    <p>{{ journals.date }}</p>
    <p>{{ journals.weather }}</p>
    <p>{{ journals.content }}</p>
    <p>{{ journals.file }}</p>
    <p>{{ journals.image }}</p>
    <br>
    {% if journals.file %}
        <img src="{{ journals.file.url }}" width="200" height="200" alt="file">
    {% endif %}
    {% if journals.image %}
        <img src="{{ journals.image.url }}" width="200" height="200" alt="image">
    {% endif %}
    <br>
    <a href="{% url 'update' journals.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'delete' journals.id %}">글 삭제하기</a>
{% endblock %} 