{% extends 'index.html' %}

{% block title %}
    <title>Detail</title>
{% endblock title %}

{% block content %}
    <h1>Detail page</h1>
    <hr>
    <p>{{ journal.title }}</p>
    <p>{{ journal.pub_date }}</p>
    <p>{{ journal.weather }}</p>
    <p>{{ journal.content }}</p>
    <p>{{ journal.file }}</p>
    <p>{{ journal.image }}</p>
    <br>
    {% if journal.file %}
        <img src="{{ journal.file.url }}" width="200" height="200" alt="file">
    {% endif %}
    {% if journal.image %}
        <img src="{{ journal.image.url }}" width="200" height="200" alt="image">
    {% endif %}
    <br>
    <a href="{% url 'update1' journal.id %}">글 수정하기</a>
    <br>
    <a href="{% url 'delete1' journal.id %}">글 삭제하기</a>
{% endblock %} 